@import url("https://p.typekit.net/p.css?s=1&k=zia3kjo&ht=tk&f=4619.4620&a=31421516&app=typekit&e=css");

@font-face {
  font-family: "ff-providence-sans-web-pro";
  src: url("https://use.typekit.net/af/13de8a/00000000000000003b9b073e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/13de8a/00000000000000003b9b073e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/13de8a/00000000000000003b9b073e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "ccmeanwhile";
  src: url("https://use.typekit.net/af/f110aa/00000000000000003b9b47fe/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/f110aa/00000000000000003b9b47fe/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/f110aa/00000000000000003b9b47fe/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "ode";
  src: url("https://use.typekit.net/af/5705c4/00000000000000003b9b3c64/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"), url("https://use.typekit.net/af/5705c4/00000000000000003b9b3c64/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"), url("https://use.typekit.net/af/5705c4/00000000000000003b9b3c64/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 300;
}

.tk-ff-providence-sans-web-pro {
  font-family: "ff-providence-sans-web-pro", sans-serif;
}

p {
  font-family: "ode";
  font-size: 1rem;
}

.kolonne p {
  padding: 5%;
}

.profiles p {
  font-size: 0.8rem;
}

.profiles em {
  font-family: "ff-providence-sans-web-pro";
  font-size: 0.8rem;
}

h1 {
  font-family: "ff-providence-sans-web-pro";
  font-weight: 700;
  line-height: 1;
  letter-spacing: -2px;
  font-size: 2.5rem;
  padding: 2%;
  text-align: center;
}

h2 {
  font-family: "ff-providence-sans-web-pro";
  font-weight: 700;
  line-height: 1;
  letter-spacing: -2px;
  font-size: 1.6rem;
  padding: 2%;
  text-align: center;
}

a {
  font-family: "ff-providence-sans-web-pro";
  text-decoration: none;
  color: inherit;
  opacity: 0.7;
}

a:hover {
  color: inherit;
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

h3 {
  font-family: "ff-providence-sans-web-pro";
  font-weight: 700;
  line-height: 0.6;
  letter-spacing: -2px;
  font-size: 2rem;
}

body,
html {
  scroll-behavior: smooth;
  color: #E1E2DC;
  margin: 0;
  padding: 0;
  background-color: #afc9d2 !important;
}

nav {
  min-height: 2vh;
  line-height: 1.5;
  padding-bottom: 1vh;
  background-color: #87B6C6 !important;
  z-index: 100000000;
}

.nav-container {
  min-height: 12vh;
}

#navbarsExample08 {
  min-height: 2vh;
  z-index: 100000000;
}

.nav-item {
  padding-top: 1vh !important;
  padding-bottom: 1vh !important;
  color: #E1E2DC !important;
  font-size: 1.2rem;
  text-align: center;
}

.navbar-dark .navbar-toggler {
  border-style: none;
}

#svane1 {
  position: absolute;
  left: 71vw;
  width: 20vw;
  height: 20vw;
  bottom: -19.1%;
  z-index: 1;
  margin-left: -25vw;
}

#svane2 {
  position: absolute;
  left: 64vw;
  width: 25vw;
  height: 25vw;
  bottom: -32.2%;
  z-index: 0;
  margin-left: -25vw;
}

.logo {
  padding: 10px 10px 0 10px;
}

.name {
  font-size: 14px;
  color: #333;
  padding-top: 15px;
}

.logo-spacer {
  width: 4vw;
}

.content {
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: #AFC9D2;
  ;
}

.hero {
  position: relative;
  background-color: black;
  height: 84vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.hero video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.hero .container {
  position: relative;
  z-index: 2;
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.nav-container {
  margin: 0;
  padding: 0;
}

.topbar, .topbar .row {
  margin: 0;
  padding: 0;
  height: 9vh;
  background-color: #AFC9D2;
  position: relative;
}

.topbar .logotekst img {
  margin: 0;
  height: 30px;
}

.topbar .icons img {
  margin: auto;
  height: 30px;
  width: 30px;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.topbar .col-6 {
  margin-right: 0;
}

.dropdown-menu {
  background-color: rgb(33 37 41 / 4%);
  border: 0;
}

.dropdown-menu a {
  color: white;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

header {
  position: relative;
  background-color: black;
  height: 84vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.kolonne {
  height: 100%;
  padding: 5vw;
  margin: 0;
  width: 100%;
  overflow: hidden;
  background-color: #E1E2DC;
  color: #737B51;
}

.kolonne:nth-child(even) {
  background-color: #737B51;
  color: #E1E2DC;
}

.kolonne img {
  height: 50%;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

.cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.contain {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.staff-intro {
  background-color: #8AA1AF;
}

.rounded {
  border-radius: 6.25rem !important;
}

.profiles img {
  height: 100px;
  width: 100px;
}

.profiles .col-6 {
  background-color: #8AA1AF;
  padding: 7%;
  height: 100%;
  color: #fff;
}

.myBtnContainer .col {
  position: relative;
  overflow: hidden;
}

.btn img {
  height: 350px;
  width: 100%;
  opacity: 0.9;
  transition: 0.3s;
}

.knap img:hover {
  overflow: none;
  transform: scale(1.05);
  transition: 0.1s;
  opacity: 1;
}

.knap h3 {
  position: absolute;
  user-select: none;
  font-size: 2rem;
  bottom: 5%;
  left: 10%;
  right: 10%;
  color: #fff;
}

.showcase h3 {
  margin-top: 20px;
}

.showcase .col-12 {
  padding: 7%;
}

.showcase .row {
  text-align: center;
}

.showcase img {
  width: 100%;
  height: 100%;
}

.showcase .row .col-12 {
  padding: 10%;
  margin-top: 3vh;
  text-align: center;
}

.show {
  display: block !important;
}

.btn {
  width: 100%;
  border: none;
  outline: none;
  padding: 12px 16px;
  cursor: pointer;
}

.filterDIV {
  display: none;
  /* Hidden by default */
}

.hidden {
  display: none;
  /* Hidden by default */
}

.options-container {
  width: 80%;
  border-top: none;
  padding-top: 1.5rem;
  color: #fff;
  text-decoration: underline;
}

.add-cart {
  padding: 0.5rem;
}

.product-link {
  padding: 0.5rem;
}

.img-container {
  width: 80%;
  height: 250px;
  position: relative;
  padding: 0;
}

.img-container h3 {
  position: absolute;
  bottom: 0;
  width: 80%;
  left: 10%;
  text-align: center;
}

.profiles .col-6:nth-child(odd) {
  background-color: #E1E2DC;
}

.profiles h3,
.profiles p,
.profiles em,
.profiles {
  width: 100%;
  text-align: center;
}

.prof-bg1 {
  background-color: #D5D6D0 !important;
}

.prof-bg2 {
  background-color: #e1e2dc !important;
}

.contact {
  background-color: #52768E;
}

.footer {
  text-align: center;
  width: 100%;
  background-color: #8AA1AF;
}

.footer .col-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.floating {
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.logo-spacer {
  display: none;
}

/*---------------------
  Banner
-----------------------*/
.blog {
  padding-bottom: 55px;
}

.banner__item {
  position: relative;
  overflow: hidden;
}

.banner__item:hover .banner__item__text a:after {
  width: 40px;
  background: #8AA1AF;
}

.banner__item.banner__item--middle {
  margin-top: -75px;
}

.banner__item.banner__item--middle .banner__item__pic {
  float: none;
}

.banner__item.banner__item--middle .banner__item__text {
  position: relative;
  top: -115px;
  left: 0;
  max-width: 100%;
  padding-top: 22px;
}

.banner__item.banner__item--last {
  margin-top: -30px;
}

.banner__item__pic {
  float: right;
  width: 100%;
  max-width: 600px;
  height: auto;
}

.banner__item__text {
  max-width: 350px;
  position: absolute;
  right: 0;
  top: 13px;
  width: 400px;
}

.banner__item__text h2 {
  font-size: 2.8rem;
  color: #E1E2DC !important;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: -2px;
  margin-bottom: -6px;
}

.banner__item__text a {
  display: inline-block;
  color: #E1E2DC !important;
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 3px 0;
  position: relative;
}

.banner__item__text a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  color: #E1E2DC !important;
  content: "";
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}

.spad {
  padding-top: 100px;
  padding-bottom: 100px;
}

/*CART Funktion */
.cd-cart__trigger,
.cd-cart__content {
  position: fixed;
  bottom: 20px;
  right: 5%;
  transition: transform .2s;
}

.cd-cart--empty .cd-cart__trigger,
.cd-cart--empty .cd-cart__content {
  // hide cart
  transform: translateY(150px);
}

.cd-cart__layout {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  overflow: hidden;
  height: 72px;
  width: 72px;
  border-radius: var(--radius);
  transition: height .4s .1s, width .4s .1s, box-shadow .3s;
  transition-timing-function: cubic-bezier(.67, .17, .32, .95);
  background: var(--cd-color-3);
  box-shadow: 0 4px 30px rgba(#000, .17);
}

.cd-cart--open .cd-cart__layout {
  height: 100%;
  width: 100%;
  transition-delay: 0s;
}

.cd-cart__product--deleted {
  // this class is added to an item when it is removed form the cart
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0;
  animation: cd-item-slide-out .3s forwards;
}

@keyframes cd-item-slide-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(80px);
    opacity: 0;
  }
}

@media only screen and (min-width: 576px) {
  p {
    font-size: 1.2rem;
  }

  .kolonne {
    height: 100vh;
  }

  .kolonne img {
    height: 100%;
  }

  .logo-spacer {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  p {
    font-size: 1.3rem;
  }

  .footer .col-12 {
    padding: 0;
    margin: 0;
  }

  .topbar .logotekst img {
    margin: 0;
    height: 50px;
  }

  .kolonne {
    height: 75vh;
    padding: 5vw;
  }

  .kolonne img {
    height: 50%;
  }

  .profiles .col-6 {
    padding: 5%;
  }

  .prof-bg1 {
    background-color: #e1e2dc !important;
  }

  .prof-bg2 {
    background-color: #D5D6D0 !important;
  }

  .logo-spacer {
    display: none;
  }

  #svane1 {
    position: absolute;
    left: 68vw;
    width: auto;
    height: 10vh;
    bottom: -12.1%;
    z-index: 1;
    margin-left: -25vw;
  }

  #svane2 {
    position: absolute;
    left: 64vw;
    width: auto;
    height: 10vh;
    bottom: -23.2%;
    z-index: 0;
    margin-left: -25vw;
  }

  .showcase .row .col-12 {
    padding: 1%;
    margin: auto;
    text-align: center;
  }
}

@media only screen and (min-width: 992px) {
  .dropdown-menu {
    background-color: #87b6c6;
    border-top: 0;
  }

  .kolonne {
    height: 100vh;
  }

  .topbar .logotekst img {
    margin: 0;
    height: 70px;
  }

  .kolonne img {
    height: 50vh;
  }

  .logo-spacer {
    display: block;
  }

  .banner__item.banner__item--middle {
    margin-top: -275px;
  }

  .banner__item.banner__item--last {
    margin-top: -70px;
  }

  .banner__item__text h2 {
    font-size: 2.8rem;
    color: #E1E2DC !important;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: -6px;
    margin-bottom: -6px;
  }

  .banner__item__text a {
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .banner__item__text {
    top: 95px;
    width: 350px;
    max-width: 350px;
  }

  .banner__item.banner__item--last {
    margin-top: -70px;
  }

  .banner__item.banner__item--middle {
    margin-top: -275px;
  }

  .banner__item.banner__item--middle .banner__item__text {
    top: -120px;
  }
}

@media only screen and (min-width: 1200px) {
  .banner__item.banner__item--last {
    margin-top: -75px;
  }

  .banner__item.banner__item--middle {
    margin-top: -275px;
  }

  .kolonne {
    height: 100vh;
  }

  .kolonne img {
    height: 50vh;
  }

  .logo-spacer {
    display: block;
  }

  .banner__item__text h2 {
    font-size: 2.8rem;
    color: #E1E2DC !important;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: -6px;
    margin-bottom: -6px;
  }

  .banner__item__text a {
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .banner__item__text {
    top: 140px;
    width: 350px;
    max-width: 350px;
  }

  .banner__item.banner__item--last {
    margin-top: -70px;
  }

  .banner__item.banner__item--middle {
    margin-top: -275px;
  }

  #svane2 {
    left: 71vw;
  }

  #svane1 {
    left: 73vw;
  }
}

@media only screen and (min-width: 2000px) {
  .banner__item__text h2 {
    font-size: 4rem;
    color: #E1E2DC !important;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: -9px;
    margin-bottom: -6px;
  }

  .banner__item__text a {
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .banner__item__text {
    top: 140px;
    width: 450px;
    max-width: 450px;
  }

  .banner__item.banner__item--last {
    margin-top: -70px;
  }

  .banner__item.banner__item--middle {
    margin-top: -275px;
  }

  #svane1 {
    left: 72.5vw;
  }
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://i.vimeocdn.com/video/795032897.webp?mw=1700&mh=896') black no-repeat center center scroll;
  }

  header video {
    display: none;
  }
}