@import url("https://p.typekit.net/p.css?s=1&k=zia3kjo&ht=tk&f=4619.4620&a=31421516&app=typekit&e=css");

@font-face {
  font-family: "ff-providence-sans-web-pro";
  src: url("https://use.typekit.net/af/13de8a/00000000000000003b9b073e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/13de8a/00000000000000003b9b073e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/13de8a/00000000000000003b9b073e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "ccmeanwhile";
  src: url("https://use.typekit.net/af/f110aa/00000000000000003b9b47fe/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/f110aa/00000000000000003b9b47fe/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/f110aa/00000000000000003b9b47fe/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "ode";
  src: url("https://use.typekit.net/af/5705c4/00000000000000003b9b3c64/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"), url("https://use.typekit.net/af/5705c4/00000000000000003b9b3c64/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"), url("https://use.typekit.net/af/5705c4/00000000000000003b9b3c64/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 300;
}

.tk-ff-providence-sans-web-pro {
  font-family: "ff-providence-sans-web-pro", sans-serif;
}

p {
  font-family: "ode";
  font-size: 1rem;
}

.kolonne p {
  padding: 5%;
}

.profiles p {
  font-size: 0.8rem;
}

.profiles em {
  font-family: "ff-providence-sans-web-pro";
  font-size: 0.8rem;
}

h1, h2, a {
  font-family: "ff-providence-sans-web-pro";
  font-weight: 700;
  line-height: 1;
  letter-spacing: -2px;
  font-size: 1.6rem;
  padding: 2%;
}

h3 {
  font-family: "ff-providence-sans-web-pro";
  font-weight: 700;
  line-height: 0.6;
  letter-spacing: -2px;
  font-size: 2rem;
}

body,
html {
  color: #E1E2DC;
  background-color: #F3E6CA;
  margin: 0;
  padding: 0;
}

nav {
  min-height: 10vh;
  line-height: 1.5;
  padding-bottom: 1vh;
  background-color: #52768E !important;
}

.nav-item {
  padding-top: 1vh !important;
  padding-bottom: 1vh !important;
  color: #E1E2DC !important;
  font-size: 1.2rem;
  text-align: center;
}

.navbar-dark .navbar-toggler {
  border-style: none;
}

#svane1 {
  transition: transform 0.5s ease-in-out;
  position: absolute;
  left: 125vw;
  width: 50vw;
  height: 50vw;
  bottom: -4.1%;
  z-index: 1188;
  margin-left: -25vw;
  animation: slide 50s linear infinite;
  -webkit-backface-visibility: hidden;
}

#svane2 {
  transition: transform 0.5s ease-in-out;
  position: absolute;
  left: 125vw;
  width: 50vw;
  height: 50vw;
  bottom: -5.2%;
  z-index: 1088;
  margin-left: -25vw;
  animation: slide 40s linear infinite;
  -webkit-backface-visibility: hidden;
}

.logo {
  padding: 10px 10px 0 10px;
}

.name {
  font-size: 14px;
  color: #333;
  padding-top: 15px;
}

.logo-spacer {
  width: 4vw;
}

.content {
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: #EFD7C2;
}

header {
  position: relative;
  background-color: black;
  height: 90vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.kolonne {
  height: 100%;
  padding: 5vw;
  margin: 0;
  width: 100%;
  overflow: hidden;
  background-color: #E1E2DC;
  color: #737B51;
}

.kolonne:nth-child(even) {
  background-color: #737B51;
  color: #E1E2DC;
}

.kolonne img {
  height: 50%;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

.cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.staff-intro {
  background-color: #8AA1AF;
}

.rounded {
  border-radius: 6.25rem !important;
}

.profiles img {
  height: 100px;
  width: 100px;
}

.profiles .col-6 {
  background-color: #D5D6D0;
  padding: 7%;
  height: 100%;
  color: #737B51;
}

.profiles .col-6:nth-child(odd) {
  background-color: #E1E2DC;
}

.profiles h3,
.profiles p,
.profiles em,
.profiles {
  width: 100%;
  text-align: center;
}

.prof-bg1 {
  background-color: #D5D6D0 !important;
}

.prof-bg2 {
  background-color: #e1e2dc !important;
}

.contact {
  background-color: #52768E;
}

.footer {
  text-align: center;
  background-color: #8AA1AF;
}

.footer .col-12 {
  padding: 2.5%;
}

.floating {
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.swim {
  transform: translateX(1500px);
}

.logo-spacer {
  display: none;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 2px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-692px, 0, 0);
  }
}

@media only screen and (min-width: 576px) {
  p {
    font-size: 1.2rem;
  }

  .kolonne {
    height: 100vh;
  }

  .kolonne img {
    height: 100%;
  }

  @keyframes floating {
    0% {
      transform: translate(0, 0px);
    }

    50% {
      transform: translate(0, 5px);
    }

    100% {
      transform: translate(0, -0px);
    }
  }

  .logo-spacer {
    display: none;
  }

  #svane1 {
    bottom: -7.1%;
  }

  #svane2 {
    bottom: -8.2%;
  }
}

@media only screen and (min-width: 768px) {
  p {
    font-size: 1.3rem;
  }

  #svane1 {
    bottom: -5.5%;
    width: 40vw;
    height: 40vw;
    margin-left: -20vw;
    animation: slide 50s linear infinite;
  }

  #svane2 {
    bottom: -8.2%;
    width: 40vw;
    height: 40vw;
    margin-left: -20vw;
    animation: slide 40s linear infinite;
  }

  .kolonne {
    height: 75vh;
  }

  .kolonne img {
    height: 50%;
  }

  .profiles .col-6 {
    padding: 5%;
  }

  .prof-bg1 {
    background-color: #e1e2dc !important;
  }

  .prof-bg2 {
    background-color: #D5D6D0 !important;
  }

  @keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(-852px, 0, 0);
    }
  }

  @keyframes floating {
    0% {
      transform: translate(0, 0px);
    }

    50% {
      transform: translate(0, 5px);
    }

    100% {
      transform: translate(0, -0px);
    }
  }

  .logo-spacer {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .floating {
    animation-name: floating;
    animation-duration: 3s;
  }

  .kolonne {
    height: 100vh;
  }

  .kolonne img {
    height: 50vh;
  }

  @keyframes floating {
    0% {
      transform: translate(0, 0px);
    }

    50% {
      transform: translate(0, 15px);
    }

    100% {
      transform: translate(0, -0px);
    }
  }

  .logo-spacer {
    display: block;
  }

  @keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(-1002px, 0, 0);
    }
  }
}

@media only screen and (min-width: 1200px) {
  .floating {
    animation-name: floating;
    animation-duration: 4s;
  }

  #svane1 {
    bottom: -7.2%;
    left: 114vw;
    width: 20vw;
    height: 20vw;
    margin-left: -10vw;
    animation: slide 45s linear infinite;
  }

  #svane2 {
    bottom: -10.2%;
    left: 110vw;
    width: 20vw;
    height: 20vw;
    margin-left: -10vw;
    animation: slide 40s linear infinite;
  }

  .kolonne {
    height: 100vh;
  }

  .kolonne img {
    height: 50vh;
  }

  .logo-spacer {
    display: block;
  }

  @keyframes floating {
    0% {
      transform: translate(0, 0px);
    }

    50% {
      transform: translate(0, 10px);
    }

    100% {
      transform: translate(0, -0px);
    }
  }

  @keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(-2502px, 0, 0);
    }
  }
}

@media only screen and (min-width: 2000px) {
  #svane1 {
    bottom: -4.2%;
    left: 114vw;
    width: 15vw;
    height: 15vw;
    margin-left: -10vw;
  }

  #svane2 {
    bottom: -6.2%;
    width: 15vw;
    height: 15vw;
    margin-left: -10vw;
  }

  @keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(-3502px, 0, 0);
    }
  }
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://i.vimeocdn.com/video/795032897.webp?mw=1700&mh=896') black no-repeat center center scroll;
  }

  header video {
    display: none;
  }
}